.accordion {
    padding-top: 50px;
    padding-bottom: 50px;
    .accordion-container {
        width: 50%;
        h2 {
            cursor: pointer;
            background: #f2f2f2;
        }
        .accordion-text {
            background-color: grey;
            display: none;
        }
        .accordion-text.active {
            display: block;
        }
    }
}